<!--
  Generated template for the DetailCoursePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{course.course_id}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Course ID:</ion-label>
      <ion-label item-right>{{course.course_id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Title:</ion-label>
      <ion-label item-right>{{course.title}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Term:</ion-label>
      <ion-label item-right>{{course.term}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Course Level:</ion-label>
      <ion-label item-right>{{course.courseLevel}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Capacity:</ion-label>
      <ion-label item-right>{{course.available}}/{{course.capacity}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Credits:</ion-label>
      <ion-label item-right>{{course.credits}}</ion-label>
    </ion-item>
    <ion-item (click)="goToViewer('Description', course.description)">
      <ion-label>Description:</ion-label>
      <ion-label item-right><p>{{course.description}}</p></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Start Date:</ion-label>
      <ion-label item-right>{{startDate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>End Date:</ion-label>
      <ion-label item-right>{{endDate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Academic Level:</ion-label>
      <ion-label item-right>{{course.academicLevel}}</ion-label>
    </ion-item>
    <ion-item (click)="goToViewer('Meeting Information',course.detailMeetingInfo)">
      <ion-label>Meeting Information:</ion-label>
      <ion-label item-right><p>{{course.detailMeetingInfo}}</p></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Instructional Method:</ion-label>
      <ion-label item-right>{{course.instructionalMethod}}</ion-label>
    </ion-item>
    <ion-item *ngIf="course.name" (click)="goToLecturer()">
      <ion-label>Lecturer:</ion-label>
      <ion-label item-right>{{course.name}}</ion-label>
    </ion-item>
    <ion-item *ngIf="course.name" (click)="goToViewer('Lecturer e-mail',course.emailAddress)">
      <ion-label>Lecturer e-mail:</ion-label>
      <ion-label item-right><p>{{course.emailAddress}}</p></ion-label>
    </ion-item>
    <ion-item (click)="goToPreCourses(course)">
      <ion-label>Prequisite Courses</ion-label>
      <ion-label item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
